<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{%- include snippets/get-article-title.html article=page -%}
<title>{%- if __return -%}{{ __return }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>

<meta name="description" content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | xml_escape | truncate: 160 }}{%- else -%}{{ site.description | xml_escape }}{%- endif -%}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@{{ site.author.twitter }}"/>
<meta name="twitter:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}"/>
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | xml_escape }}{% else %}{{ site.description | strip_html | strip_newlines | xml_escape }}{% endif %}"/>
<meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/logo-github.png{% endif %}"/>

<!-- Open Graph -->
<meta property="og:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}"/>
<meta property="og:site_name" content="Mincong Huang's blog"/>
<meta name="author" property="og:author" content="{{ site.author.name | xml_escape }}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | xml_escape }}{% else %}{{ site.description | strip_html | strip_newlines | xml_escape }}{% endif %}"/>
{% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
  <meta property="og:image:width" content="{{ site.data.images[page.image].width }}"/>
  <meta property="og:image:height" content="{{ site.data.images[page.image].height }}"/>
{% endif %}
{% if page.date %}
  <meta name="publish_date" property="og:publish_date" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

<link rel="canonical" href="{%- include snippets/page-url.html -%}">

{%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%}
{%- include snippets/get-nav-url.html path=_paths_rss -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return }}">

{%- include head/favicon.html -%}

{%- include snippets/prepend-baseurl.html path='/assets/css/main.css' -%}
<link rel="stylesheet" href="{{ __return }}">

{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<link rel="stylesheet" href="{{ _sources.font_awesome }}" >

{%- include head/custom.html -%}
