---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {% if page.ads and page.ads == "ethical-ads" %}
    <!-- TODO add id for the ad placement
         A placement identifier. If you define an id and enable placements
         reporting, this will allow you to see reports for each id.

         See https://ethical-ad-client.readthedocs.io/en/latest/#placements
     -->
    {% comment %}
      data-ea-publisher:
          "mincongio", name of the publisher

      data-ea-type:
          "image", because we want to show image not text.

    {% endcomment %}
    <div class="article__ads">
      <div data-ea-publisher="mincongio"
           data-ea-type="image">
      </div>
    </div>
  {% endif %}

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>
