---
layout: default
---

{% if page.sd_json %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "url": "{{ site.url }}{{ page.url }}",
    "name": "{{ page.title }}",
    "headline": "{{ page.title }}",
    "keywords": "{{ page.tags | join: ',' }}",
    "description": "{{ page.excerpt }}",
    "articleBody": "{{ page.content | strip_html | escape | strip_newlines }}",
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.last_modified_at | default: page.date }}",
    "author": {
      "@type": "Person",
      "name": "{{ site.author_name }}",
      "givenName": "{{ site.author_first_name }}",
      "familyName": "{{ site.author_last_name }}",
      "email": "{{ site.email }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "url": "{{ site.url }}",
      "logo": {
        "@type": "ImageObject",
        "width": 32,
        "height": 32,
        "url": "{{ site.url }}/icon/favicon.ico"
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
    },
    "image": {
      "@type": "ImageObject",
      "width": {{ page.img_width }},
      "height": {{ page.img_height }},
      "url": "{{ site.url }}{{ page.img_url }}"
    }
  }
</script>
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      <br>
      Tags:
      <span>
        {% for tag in page.tags %}
          <a href="/tags/{{ tag }}">
            <span class="tag code">{{ tag }}</span>
          </a>
        {% endfor %}
      </span>
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.comments %}
    {% include comments.html %}
  {% endif %}

  {% include headers_selector.html %}
</article>

{% else %}

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      <br>
      Tags:
      <span>
        {% for tag in page.tags %}
          <a href="/tags/{{ tag }}">
            <span class="tag code">{{ tag }}</span>
          </a>
        {% endfor %}
      </span>
      <div style="display:none">
        {% if page.last_modified_at != null %}
        <time itemprop="dateModified"
              style="display: none;"
              datetime="{{ page.last_modified_at | date_to_xmlschema }}">
          {{ page.last_modified_at | date: "%b %-d, %Y" }}
        </time>
        {% endif %}
        <data itemprop="author"
              itemscope
              itemtype="https://schema.org/Person">
          <data itemprop="name">Mincong Huang</data>
        </data>
        <data itemprop="publisher"
              itemscope
              itemtype="https://schema.org/Person">
          <data itemprop="name">Mincong Huang</data>
        </data>
        <data itemprop="keywords">{{ page.tags | join: ',' }}</data>
        {% if page.excerpt %}
          <data itemprop="description">{{ page.excerpt }}</data>
        {% endif %}
      </div>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.comments %}
    {% include comments.html %}
  {% endif %}

  {% include headers_selector.html %}
</article>

{% endif %}
